<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>WeTube</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>video_call</mat-icon>
    </button>

    <button *ngIf="isAuthenticated; else noAuth" [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Studio</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <ng-template #noAuth>
      <button mat-flat-button class="example-icon" aria-label="Example icon-button with share icon" (click)="login()">
        Login
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>