<h1 class="upload-title mat-headline" fxLayout="row wrap" fxLayoutAlign="center">Upload Video</h1>
<div class="upload-video-container" fxLayout="row wrap" fxLayoutAlign="center">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template class="" ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div >Drag and drop the video here</div>
      <span></span>
      <div >
        <button mat-raised-button color="primary" (click)="openFileSelector()">Browse Files</button>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" class="uploaded-video-section" *ngFor="let item of files; let i=index">
  <div><strong>{{ item.relativePath }}</strong></div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
  <div class="continue" *ngIf="this.fileUploaded">
    <button (click)="uploadVideo()" mat-flat-button color="primary">Upload</button>
  </div>
</div>