<mat-sidenav class="sidenav mat-elevation-z1" [opened]="!isScreenSmall" [mode]="isScreenSmall?'over':'side'">

    <mat-nav-list role="list">
        <a mat-list-item role="listitem" class="item" routerLink="/featured">
            <mat-icon matListItemIcon>home</mat-icon>
            <p matListItemLine>Home</p>
        </a>
        
        <a mat-list-item role="listitem" class="item" routerLink="/subscriptions">
            <mat-icon matListItemIcon>subscriptions</mat-icon>
            <p matListItemLine>Subscriptions</p>
        </a>

        <a mat-list-item role="listitem" class="item" routerLink="/history">
            <mat-icon matListItemIcon>history</mat-icon>
            <p matListItemLine>History</p>
        </a>

        <a mat-list-item role="listitem" class="item" routerLink="/liked-videos">
            <mat-icon matListItemIcon>thumb_up</mat-icon>
            <p matListItemLine>Liked Videos</p>
        </a>
    </mat-nav-list>


    <!-- <mat-nav-list role="list">

        <mat-list-item role="listitem" routerLink="">
          <mat-icon mat-list-icon>home</mat-icon>
          <p matLine>Home</p>
        </mat-list-item>
    
        <mat-list-item role="listitem" routerLink="/subscriptions">
          <mat-icon mat-list-icon>subscriptions</mat-icon>
          <p matLine>Subscriptions</p>
        </mat-list-item>
    
        <div>
          <mat-list-item role="listitem" routerLink="/history">
            <mat-icon mat-list-icon>history</mat-icon>
            <p matLine>History</p>
          </mat-list-item>

          <mat-list-item role="listitem" routerLink="/liked-videos">
            <mat-icon mat-list-icon>thumb_up</mat-icon>
            <p matLine>Liked Videos</p>
          </mat-list-item>
    
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list> -->
</mat-sidenav>


<!-- <mat-sidenav class="sidenav mat-elevation-z1"
             [opened]="!isScreenSmall"
             [mode]="isScreenSmall?'over':'side'">
  
</mat-sidenav> -->