.example-card {
    /* max-width: 400px; */
    width:auto;
    height:auto;
    padding-bottom: 7px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}